---

---

<header>
    <h1>What is color?</h1>
</header>
<p>
    <strong>Color</strong> (American English), or
    <strong>colour</strong> (Commonwealth English), is the characteristic of
    visual perception described through color categories, with names such as
    red, orange, yellow, green, blue, or purple. This perception of color
    derives from the stimulation of photoreceptor cells (in particular cone
    cells in the human eye and other vertebrate eyes) by electromagnetic
    radiation (in the visible spectrum in the case of humans).
</p>
<p>
    Color is really important for making great
    <abbr title="Cascading Style Sheets">CSS</abbr> styles.
    <a href="#">Color.com is the most amazing place to get your colors.</a>
</p>
