---
import { TickerTape } from './lit/ticker-tape'
---

<TickerTape client:visible>
    <h1>...Color.com is awesome...</h1>
</TickerTape>

<style>
    ticker-tape {
        text-align: center;
    }
</style>
