---

---

<header>
    <h1>Contact</h1>
</header>
<div>
    <form>
        <label>
            Name
            <input type="text" id="name" />
        </label>

        <label>
            Subject
            <input type="text" id="subject" />
        </label>

        <label>
            Message
            <textarea></textarea>
        </label>

        <label for="newsletter" class="inline">
            Sign up for the newsletter?
            <input id="newsletter" type="checkbox"/>
        </label>

        <label>
            Artist
            <input type="radio" name="user" />
        </label>

        <label>
            Designer
            <input type="radio" name="user" />
        </label>

        <label>
            Enthusiast
            <input type="radio" name="user" />
        </label>

        <button>Submit</button>
    </form>
</div>

<style>
    .inline {
      display: inline-block;
    }
</style>