---

---

<div class="cards">
    <div class="card">
        <img src="images/600px-64_365_Color_Macro.jpg" />
        <p>Colored Pencils</p>
    </div>

    <div class="card">
        <img src="images/600px-Nasir-al_molk.jpg" />
        <p>
            Color effect—sunlight shining through stained glass onto carpet
            (Nasir ol Molk Mosque located in Shiraz, Iran)
        </p>
    </div>

    <div class="card">
        <img src="images/600px-Chubb_Illusion.png" />
        <p>
            Colors can appear different depending on their surrounding colors
            and shapes. The two small squares have exactly the same color, but
            the right one looks slightly darker, the Chubb illusion.
        </p>
    </div>
</div>

<style>
    .card {
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 20px;
        flex: 1;
    }

    .card img {
        width: 100%;
        border-radius: 5px;
    }

    .card p {
        margin: 10px 0;
        text-align: center;
    }

    .cards {
        display: flex;
    }
</style>
